.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    background-color: var(--darkgrey);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 3rem;
    font-size: 1.2rem;
}

.search input{
    width: 100%;
    background-color: var(--darkgrey);
    border: none;
    font-size: 1.2rem;
    color: var(--grey);
    font-family: "Inter";
}
.search input:focus{
    outline: none;
}