.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: var(--blue);
    background-color: var(--balck);
    position: absolute;
    z-index: 1000;
}