@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

body {
  margin: 0;
  -webkit-font-smoothing: antiapased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

a {
  text-decoration: none;
}

img {
  -user-drag: none;
  -webkit-user-drag: none; 
  -moz-user-drag: none;    
}

.grey-wrapper{
  display: block;
  width: 90%;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  padding:0rem 0.5rem;
  border-radius: 0.8rem;
}

.compare-days-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
