.toggle-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem 0;
}
@media screen and (max-width: 800px) {
  .toggle-btn {
    font-size: 0.7rem !important;
    padding: 0.5rem !important;
  }
}
